body {
	font-family: 'Raleway', sans-serif;
	color: #213053;
	margin: 0;
  }

h1 {
	color: #003366;
    font-size: 36px;
  	padding-bottom: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #213053;
}

header a {
	font-size: 15px;
	font-weight: 600;
	margin-right: 25px;
  }

.header__logo {
	height: 30px;
}

button {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #fff;
	background-color: #23a030;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
	padding: 15px;
  }

.about__image {
	width: 500px;
}
   
.about__sun-image {
	width: 100px;
	height: 100px;
}

.about {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 115px;
	padding-bottom: 115px;
	background: url('img/back.png') no-repeat;
  	background-position: center;
  	background-size: cover;
}

.about h1 {
	font-size: 70px;
	line-height: 76px;
}

.about p {
	font-size: 18px;
	line-height: 30px;
	opacity: 0.8;
}

.about button {
	font-size: 18px;
	border-radius: 20px;
	padding: 20px 25px;
	margin-top: 20px;
}

.about__info {
	max-width: 550px;
}

.form__container {
	width: 550px;
}

.form h1 {
	font-size: 48px;
	color: #fff;
}

.form p {
	font-size: 18px;
	opacity: 0.65;
}

.form__group {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	text-align: left;
	/* gap: 20px; 
	гэп не по плану */
	
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1D263A;
	color: #fff;
	padding-top: 115px;
	padding-bottom: 115px;
	text-align: center;
}

.form label {
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	
}

.form input, select {
	margin-top: 20px; /* тоже не по плану, но выглядит норм*/
	font-size: 18px;
	color:  #213053;
	height: 60px;
	padding: 0 0 20px 20px;
	border-radius: 15px;
	border: none;
}

.form form {
	margin-top: 60px;
	display: grid;
	grid-gap: 20px;
	/* говно какое-то с 4.6 в разделе размер грида */
}

.form__submit {
	margin-top: 40px;
	font-size: 18px;
	font-weight: 600;

}

select {
	appearance: none;
}

input {
	outline: none;
}
